[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.27"
djangorestframework = "==3.8.2"
django-extensions = "*"
ipython = "*"
raven = "*"
dj-database-url = "*"
django-querycount = "*"
django-debug-toolbar = "*"
django-rest-swagger = "*"
psycopg2-binary = "*"
whitenoise = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
django-filter = "*"
django-grappelli = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
